/* CSS reset */

* {
  font-family: 'poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#f1c376,#F7E6C4,#f1c376);
  }
  
  h1 {
    text-transform: uppercase;
  }
  
  body {
    color: #333;
  }
  
  /* Common */
  
  /* .fix { */
    /* *zoom: 1; */
  /* } */
  
  .fix:after {
    display: table;
    clear: both;
    content: '';
  }
  
  /* Home */
  
  .wrap {
    width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    position:relative;
  }
  
  .logo, #gameArea {
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .ws-area, .ws-words {
    display: inline-block;
    vertical-align: top;
  }
  
  .ws-words {
    margin-left: 20px;
    text-align: left;
    font-weight: 520;
  }
  
  .ws-word {
    margin-bottom: 4px;
  }
  
  .ws-words ::first-letter{
      text-transform : capitalize;
  }

  .lvl {
    margin-right: 420px;
    margin-bottom: -45px;
    text-align: center;
  }

  .user {
    margin-left: 80px;
    margin-bottom: 30px;
    text-align: center;
  }

  header {
    background-color: #606c5d;
    color: #000000;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style the navigation menu */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #e0dddd;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav ul li a:hover{
    color: #fdf587;
  }

  /* Wordsearch */

.ws-area {
  background: #fafafa;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected {
  background: #eee;
}

.ws-found {
  background: rgb(0, 255, 34);
}

.ws-game-over-outer {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ws-game-over-inner {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  display:table;
}

.ws-game-over {
  display:table-cell;
  vertical-align:middle;
}

.ws-game-over h2 {
  color:#FFFFFF;
  font-size:2em;
  text-transform:uppercase;
  padding:0;
  margin:0 0 9px 0;
}

.ws-game-over p {
  color:#FFFFFF;
  font-size:1em;
  padding:0;
  margin:0;
}

.ws-words {
  font-size: 25px;
}

.user {
  margin-right: 4px;
}

/* CSS for the Next button */
.ws-next-button {
background-color: #606c5d;
margin-top: 30px;
border-radius: 10px;
padding: 2px;
width: 80px;
height: 40px;
font-weight: bold;
}

  